.accordion {
    padding: 10px;
    width: 1000px;
}

.item {
    background: #f0ebe1;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    margin-bottom: 10px;
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.left-aligned-table {
    text-align: left;
    border-collapse: separate;
    /* padding: 10px; */
}

.left-aligned-table th,
.left-aligned-table td {
    padding-right: 25px;
    padding-bottom: 10px;
    border: 1px solid #000;
    vertical-align: middle;
    text-align: left;
}

nav{
    width: 100%;
    height: 11vh;
    background-color: white;
}

.brand img{
    padding: 15px;
    max-width: 250px;
}

.info_square{
    padding: 1.25rem;
    border: 1px solid #d7dfe3;
}

.background{
    background-color: #eef5f9;
}